INST "CLK" LOC = "AE16";
INST "BTN_RST" LOC = "H10";
INST "LEDS<0>" LOC = "AC22";
INST "LEDS<1>" LOC = "AC24";
INST "LEDS<2>" LOC = "AE22";
INST "LEDS<3>" LOC = "AE23";
INST "LEDS<4>" LOC = "AB23";
INST "LEDS<5>" LOC = "AG23";
INST "LEDS<6>" LOC = "AE24";
INST "LEDS<7>" LOC = "AD24";
